Test.Puzzle/bin/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/bin/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/bin/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/bin/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/bin/Debug/netcoreapp3.0/Test.Puzzle.pdb
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.pdb
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.csprojAssemblyReference.cache
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.dll
Test.Puzzle/obj/Debug/netcoreapp3.0/Test.Puzzle.csprojAssemblyReference.cache
